/**************TAG SELECTORS*****************/
body {
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
}

h1 {
    margin: 50px auto 0 auto;
    font-family: 'Sacramento', cursive;
    font-size: 5.625rem;
    color: #66BFBF;
    line-height: 2;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    color: #66BFBF;
    font-weight: normal;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    color: #11999E;
}

a {
    color: #11999E;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
}

p {
    color: #40514E;
}

hr {
    border: none;
    border-top: 10px dotted #EAF6F6;
    width: 10%;
    margin: 5% auto;
}
/**************CLASS SELECTORS*****************/
.pro {
    text-decoration: underline;
}

.top-container {
    background-color: #E4F9F5;
    padding-top: 10px;
    position: relative;
    min-height: 100vh;
}

.middle-container {
    padding: 5%;
    min-height: 100vh;
}

.bottom-container {
    background-color: #66BFBF;
    padding: 50px 0 20px;
}

.top-cloud {
    position: absolute;
    top: 4%;
    right: 30%;
}

.bottom-cloud {
    position: absolute;
    left: 30%;
}

.mountain-img {
    max-width: 100vw;
}
.profile-img {
    width: 200px;
}

.profile-info {
    width: 50%;
    margin: auto;
    line-height: 2;
}
.coding-img {
    width: 40%;
    float: left;
    border-radius: 100%;
    margin-right: 10%;
}

.code-img {
    width: 40%;
    float: right;
    border-radius: 100%;
    margin-left: 10%;
}

.skill-row {
    width: 60%;
    margin: 5% auto 15%;
    text-align: left;
    line-height: 2;
}

.btn {
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4,  #11999e);
    background-image: -moz-linear-gradient(top, #11cdd4,  #11999e);
    background-image: -ms-linear-gradient(top, #11cdd4,  #11999e);
    background-image: -o-linear-gradient(top, #11cdd4,  #11999e);
    background-image: linear-gradient(to bottom, #11cdd4,  #11999e);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    text-decoration: none;
  }

  .footer-link {
    text-decoration: none;
    font-weight: bold;
  }
  .footer-link.left {
    text-decoration: none;
    margin-left: 50px;
  }

  .footer-link:hover {
    color: #EAF6F6;
  }
  .copyright{
    color: #EAF6F6;
    margin: 5% auto 0;
    font-size: 0.75rem;
  }

  .bottom-margin {
    width: 50%;
    margin: 0 auto 5%;
  }
/**************ID SELECTORS*****************/