body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

h1 {
  font-family: 'Sacramento', cursive;
  font-size: 5.625rem;
  margin: 0 auto;
  color: #66BFBF;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  font-weight: normal;
  color: #66BFBF;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}

p {
  color: #40514E;
  font-weight: bold;
  width: 40%;
  margin: 30px auto 60px;
  line-height: 2;

}
hr {
  border-width: 6px;
  width: 5%;
  height: 1px;
  border-style: dotted none none none;
  border-color: gray;
  margin: 20px auto;

}
/***************************3 CONTAINERS SELECTORS****************/

.top-container {
  background-color: #E4F9F5;
  padding-top: 100px;
  position: relative;
}

.middle-container {
  padding-top: 20px;
}

.bottom-container {
}

/***************************CLASS SELECTORS****************/
.pro {
  text-decoration: underline;
}

.profile-img {
  height: 200px;
}

.coding-img {

  width: 30%;
  border-radius: 50%;
  float: left;
  margin-right: 100px;
}
.code-img {
  width: 30%;
  border-radius: 50%;
  float: right;
}
.top-cloud {
  position: absolute;
  right: 15%;
  top: 50px;
}

.bottom-cloud {
  position: absolute;
  left: 15%;
  bottom: 300px;
}
.mountain-img {
  position: relative;
}
.footer-link {
  font-size: 1rem;
  margin: 0;
  color: #84b4fc;
}
.end {
  color: #84b4fc;
}
.skill-row {
  width: 50%;
  margin: 50px auto;
  text-align: left;
  line-height: 2;
}
.skills {
  margin: 50px auto;
}
